{% extends 'dashboard.html.twig' %}

{% block content %}

    <div class="product-status mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-status-wrap drp-lst">
                        <h4>Categories</h4>
                        <div class="add-product">
                            <a href="{{ path("Categorie_goajouter_dashboard")}}">Ajouter Categorie</a>
                        </div>
                        <div class="asset-inner">
                            <table>
                                <tbody><tr>
                                    <th>Nom</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                </tr>
                                {% for categorie in categories %}
                                        <tr>
                                            <td>{{ categorie.nom }}</td>
                                            <td>{{ categorie.description }}</td>

                                            <td>
                                                <a href="{{ path("Categorie_goupdate_dashboard",{'id': categorie.id} ) }}"> <i class="fa fa-pencil-square-o" aria-hidden="true" ></i></a>
                                                <a href="{{ path("supprimer_categorie_dashboard",{'id': categorie.id} ) }}"> <i class="fa fa-trash-o" aria-hidden="true" style="color:#ac2925"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="custom-pagination">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock content %}